{% for i in svi_list %}
{% if inventory_hostname == i.device %}
{% if skip_loop is not defined or not skip_loop %}
{% set vlan_id = i.vlan_id.split(',') %}
{% set ip_address = i.ip_address.split(',') %}
{% for index in range(vlan_id|length) %}
interface vlan{{ vlan_id[index] }}
ip address {{ ip_address[index] }} 255.255.255.0
no shutdown
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}




