{% for i in eigrp_list %}
{% if inventory_hostname == i.device %}
router eigrp {{ i.eigrp_name }}
address-family ipv4 unicast autonomous-system 50
network {{ i.network }}
eigrp router-id {{ i.router_id }}
no shutdown
{% endif %}
{% endfor %}


