{% if item.interfaces is defined %}
{% for i in item.interfaces %}
  {% if inventory_hostname in groups['management'] or inventory_hostname in groups['core'] or inventory_hostname in groups['distribution'] or inventory_hostname in groups['access'] %}
  interface {{ i }}
  {% if 'loopback' not in i %}
  no switchport
  ip address {{ item.interfaces[i] }}
  {% else %}
  ip address {{ item.interfaces[i] }}
  {% endif %}
  no shutdown
  {% elif inventory_hostname in groups['router'] %}
  interface {{ i }}
  ip address {{ item.interfaces[i] }}
  no shutdown
  {% endif %}
{% endfor %}
{% endif %}


