{% if inventory_hostname in groups['distribution'] or inventory_hostname in groups['access'] %}
spanning-tree mode rapid-pvst
spanning-tree portfast edge default
{% for i in stp_list %}
  {% if inventory_hostname == i.device %}
  {% if skip_loop is not defined or not skip_loop %}
  {% set associated_vlan = i.associated_vlan.split(',') %}
  {% for index in range(associated_vlan|length) %}
    spanning-tree vlan {{ associated_vlan[index] }} priority {{ i.priority }}
  {% endfor %}
  {% else %}
  {% if loop.first %}{% set skip_loop = True %}{% endif %}
  {% endif %}
  {% endif %} 
{% endfor %}
{% endif %}

