{% for i in trunk_list %}
{% if inventory_hostname == i.device %}
{% if skip_loop is not defined or not skip_loop %}
{% if "-" in i.interface %}
interface range {{ i.interface }}
{% else %}
interface {{ i.interface }}
{% endif %}
switchport
no negotiation auto
switchport trunk encapsulation dot1q
switchport mode {{ i.trunk_mode }}
switchport trunk allowed vlan {{ i.allowed_vlans }}
switchport trunk native vlan {{ i.native_vlan }}
no shutdown
{% endif %}
{% endif %}
{% endfor %}


